<mat-grid-list cols="2" rowHeight="160px">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-list>
      <mat-list-item> 녹음된 파일을 문자 형식으로 변환합니다. </mat-list-item>
      <mat-list-item> 영어를 비롯한 10개 언어 지원 </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <button mat-raised-button color="primary" [routerLink] ="['/ar']">시작하기</button>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <a href="https://play.google.com/store/apps/details?id=com.andrwq.recorder">
      <mat-icon class="toolbar-icon">android</mat-icon></a>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <a href="https://itunes.apple.com/us/app/awesome-voice-recorder/id892208399?mt=8">
      <mat-icon class="toolbar-icon">phone_iphone</mat-icon></a>
  </mat-grid-tile>

</mat-grid-list>
