<mat-grid-list cols="2">
  <mat-grid-tile [colspan]="2" [rowspan]="1" rowHeight="1000px">
    <mat-list>
      <mat-list-item> 녹음된 파일을 문자 형식으로 변환합니다. </mat-list-item>
      <mat-list-item> 가능한 파일의 확장자는 wav, flac, mp3 입니다. </mat-list-item>
      <mat-list-item> 조용한 환경에서 녹음은 인식률을 높입니다.</mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" rowHeight="500px">
    <button  mat-raised-button color="primary" [routerLink] ="['/ar']">시작하기</button>
  </mat-grid-tile>

</mat-grid-list>
