<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <h3 > 음성을 문자로 변환 </h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <button matButton mat-raised-button color="primary">
      <label for="fileToUpload">선택</label>
    </button>
    <input id="fileToUpload" type="file" style="display:none;" accept="audio/*" (change)="uploadFile($event)">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <span [hidden]="progress == 'uploaded' ? false : true">
      <button mat-raised-button color="primary" (click)="notify()">변환</button>
    </span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-spinner [diameter] ="40" *ngIf="progress == 'wip'"></mat-spinner>

    <div [hidden]="progress == 'uploaded' ? false : true">
      <audio controls src={{path}}>
      </audio>
    </div>
    <div>
      {{ response_notify }}
    </div>
  </mat-grid-tile>
</mat-grid-list>
