<h1 mat-dialog-title>이메일로 공유하기</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="언어" [(ngModel)]="data.language" name="language">
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{language.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.email" placeholder="이메일">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">닫기</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>전송</button>
</div>
